<div class="card mb-3">
    <div class="text-center card-body">
        <div class="my-3">
            <%= user_profile_picture(@user.id, 100, 100) %>
        </div>
        <h2><%= @user.full_name %></h2>
        <hr>
        <nav class="nav justify-content-end">
            <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link btn btn-primary" %>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Intro</h3>
                <p>Username: <%= @user.username %></p>
                <p>First name: <%= @user.first_name %></p>
                <p>Last name: <%= @user.last_name %></p>
                <p>Number Of Posts: <%= @user.posts.size %></p>
                <p>Number Of Friends: <%= @user.friends.size %></p>
            </div>
        </div>
    </div>
    <div class="col-9">
        <%= render partial: 'shared/post', collection: @posts %>
    </div>
</div>
