
<div class="card">
    <div class="card-header">
        <%= form_with url: user_friendships_path(current_user), method: :post do %>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <%= text_field_tag :friend_username, nil, class: "form-control", placeholder: "Add a friend using their username", required: true %>
                <div class="input-group-append">
                    <%= submit_tag "Add Friend", class: "btn btn-primary" %>
                </div>
            </div>
        <% end%>
    </div>

    <div class="list-group-flush">
        <div class="list-group-item">
            <ul class="nav nav-tabs" id="friendOptions" role="tablist">
                <li class="nav-item">
                    <%= link_to "Friends", "#friends", class: "nav-link", data: {toggle: "tab"} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Incoming Requests", "#pending-incoming-friends", class: "nav-link", data: {toggle: "tab"} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Outgoing Requests", "#pending-outgoing-friends", class: "nav-link", data: {toggle: "tab"} %>
                </li>
                <li class="nav-item">
                    <%= link_to "Discover People", "#discover-people", class: "nav-link", data: {toggle: "tab"} %>
                </li>
            </ul>
        </div>
        <div class="tab-content">   
            <div class="tab-pane show fade" id="friends">            
                <%= render partial: "friend_list", locals: 
                    {friends: @friends, status: "accepted", empty_message: "No friends"} %>
            </div>
            <div class="tab-pane fade" id="pending-incoming-friends">
                <%= render partial: "friend_list", locals: 
                    {friends: @pending_incoming_friends, status: "pending-incoming", empty_message: "No incoming friend requests"} %>
            </div>
            <div class="tab-pane fade" id="pending-outgoing-friends">
                <%= render partial: "friend_list", locals: 
                    {friends: @pending_outgoing_friends, status: "pending-outgoing", empty_message: "No outgoing friend requests"} %>
            </div>
            <div class="tab-pane fade" id="discover-people">
                <%= render partial: "friend_list", locals: 
                    {friends: @new_people, status: "new-people", empty_message: "No new people"} %>
            </div>
        </div>
    </div>
</div>
